
body{
    /*background-color: #a7a5a5;*/
    background: url('/images/background/bg.jpg');
    background-size: cover;
}

.container{
    margin-top: 25px;
    background: #f6fcfc;
    padding: 2%;
    border-bottom-color: #636b6f;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 3px 3px 4px #636b6f;
    opacity: 0.8;
}

table#laravel_crud {
    background: #faf5e8;
    box-shadow: 3px 3px 5px #636b6f;
    border-radius: 8px;
}

table#laravel_crud tr td,th {
    font-weight: bold;
    vertical-align : baseline;
    text-align: center;
}

#m_btn_icon img {
    height: 40px;
    margin: 4px 2px;
}

#t_btn_icon img {
    height: 35px;
    padding: 0;
    margin: 0;
}

#t_btn_del img{
    height: 35px;
}

#f_edit_create {
    width: 35%;
}
